*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    margin-top: 55px;
    background-color: antiquewhite;
    font-size: 22px;
}
h1{
    margin-top: 25px;
    color: black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
p{
    margin-top: 36px;
    color:black;
    
}
